[project]
	description = Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shebella
[access "refs/for/refs/*"]
	read = group user/Shebella
	push = group user/Shebella
	label-Code-Review = -2..+2 group user/Shebella
	label-Verified = -1..+1 group user/Shebella
	rebase = group user/Shebella
	removeReviewer = group user/Shebella
	submit = group user/Shebella
[access "refs/heads/*"]
	read = group user/Shebella
	create = group user/Shebella
	push = +force group user/Shebella
	pushMerge = group user/Shebella
[access "refs/tags/*"]
	push = +force group user/Shebella
	pushTag = group user/Shebella
	pushSignedTag = group user/Shebella
